:root {
	--tourlst__fontsize--large: 2.4rem;
}

.tourlstpage {
	display: flex;
	flex-direction: column;
}

.tourcard {
	display: flex;
	width: 800px;
	margin: 20px;
}

.tourcard img {
	max-width: 300px;
}

.tourlst__sortfilter {
	height: 84px;
}

.my-slider {
	width: 120px;
	height: 50px;
	display: flex;
	align-items: center;
}

.my-thumb {
	background-color: #000000;
	font-size: 0;
	width: 2px;
	height: 20px;
	cursor: pointer;
}

.my-track {
	background-color: #ccc;
	height: 20px;
}

.my-track-1 {
	background-color: #40c0e2;
}
